/* .rowblue{
    background-color: rgba(46,174,230,255);
}
.rowlightblue{
    background-color:lightblue;
}
.rowwhite{
    background-color: white;
}
.row-left{
    display: inline-block;
    width: 24%;
}
.row-center{
    display: inline-block;
    width: 24%;
}
.row-right{
    display: inline-block;
    width: 50%;
}
.rowheight{
    height: 60px;
} */
.bg-blue{
    background-color: #20a9e5;
}
.bg-lightblue{
    background-color: #b1e5f2;
}
table{
    text-align: left;
    border-collapse: collapse;
}
.width-20{
    width: 20%;
}